
<div class="customer-dashboard">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Manage <b>Employees</b></h2>
                </div>
                <div class="col-sm-3">
                    <!--Search box customers-->
                    <form id="search-button" action="">
                        <input id="input-search" type="search">
                        <i class="fa fa-search"></i>
                    </form>
                </div>
                <div></div>
                <!--Search box custumers-->
                <div class="col-sm-4">
                    <a href="#deleteEmployeeModal" class="btn btn-danger add-remove-button" data-toggle="modal"><i class="material-icons">&#xE15C;</i>
                        <span>Delete</span></a>
                    <a href="#addEmployeeModal" class="btn btn-success add-remove-button" (click)="resetAlertDialog();getReportType()" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                        <span>Add New Employee</span></a>
                </div>
            
            </div>
        </div>
        <div style="overflow: scroll;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>Mã biên bản</th>
                    <th>Mã khách hàng</th>
                    <th>Mã số công an</th>
                    <th>Ngày lập</th>
                    <th>Nơi lập</th>
                    <th>Đơn vị lập biên bảng</th>
                    <th>Ngày yêu cầu nộp phạt</th>
                    <th>Đơn vị yêu cầu nộp phạt</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                    <th>Ghi chú</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                    <th>Hoạt động</th>
                    <th>Ý kiến bổ sung</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let report of reportsInfo.data.data">
                    <td>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="options[]" value="1">
                            <label for="checkbox1"></label>
                        </span>
                    </td>
                    <td>{{report.mA_BIEN_BANG}}</td>
                    <td>{{report.mA_KHACH_HANG}}</td>
                    <td>{{report.mA_SO_CONG_AN}}</td>
                    <td>{{report.ngaY_LAP}}</td>
                    <td>{{report.noI_LAP}}</td>
                    <td>{{report.doN_VI_LAP_BIEN_BANG}}</td>
                    <td>{{report.ngaY_YC_NOP_PHAT}}</td>
                    <td>{{report.doN_VI_YC_NOP_PHAT}}</td>
                    <td>{{report.tonG_TIEN}}</td>
                    <td>{{report.tranG_THAI}}</td>
                    <td>{{report.ghI_CHU}}</td>
                    <td>{{report.ngaY_TAO}}</td>
                    <td>{{report.ngaY_CAP_NHAT}}</td>
                    <td>{{report.hoaT_DONG}}</td>
                    <td>{{report.y_KIEN_BO_XUNG}}</td>
                    <td>
                        <a href="#editEmployeeModal" class="edit" data-toggle="modal" (click)="getSelected(report);resetAlertDialog()"><i class="material-icons"
                                data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" (click)="getSelected(report)"><i class="material-icons"
                                data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>

            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                
                <li  class="page-item"><a routerLink="/reports"
                    [queryParams]="{ page: 1}" 
                    class="page-link"
                    (click) = "getUsers(1)"><< First</a></li>
                <li *ngIf="reportsInfo.data.prePage != 0" class="page-item"><a routerLink="/reports"
                    [queryParams]="{ page: reportsInfo.data.prePage }" 
                    class="page-link"
                    (click) = "getUsers(reportsInfo.data.prePage)"
                    >{{reportsInfo.data.prePage}}
                </a></li>
                
                <li class="page-item active"><a routerLink="/reports"
                    [queryParams]="{ page: reportsInfo.data.currPage }" 
                    class="page-link"
                    (click) = "getUsers(reportsInfo.data.currPage)"
                    >{{reportsInfo.data.currPage}}
                </a></li>

                <li *ngIf="reportsInfo.data.nextPage != 0" class="page-item"><a 
                    routerLink="/reports"
                    [queryParams]="{ page: reportsInfo.data.nextPage}" 
                    class="page-link"
                    (click) = "getUsers(reportsInfo.data.nextPage)" class="page-link">{{reportsInfo.data.nextPage}}</a></li>
                
                    <li  class="page-item"><a routerLink="/reports"
                        [queryParams]="{ page: reportsInfo.data.lastPage }" 
                        class="page-link"
                        (click) = "getUsers(reportsInfo.data.lastPage)">Last >></a></li>
                    <!-- <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li> -->
            </ul>
        </div>
    </div>
</div>
<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Report</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã khách hàng</label>
                        <input type="text" class="form-control"  [(ngModel)] = "newReport.MA_KHACH_HANG" required>
                    </div>
                    <div class="form-group">
                        <label>Mã số công an</label>
                        <input type="text" class="form-control"  [(ngModel)] = "newReport.MA_SO_CONG_AN" required>
                       

                    </div>
                    <div class="form-group">
                        <label>Nơi lập</label>
                        <textarea class="form-control" [(ngModel)] = "newReport.NOI_LAP" name ="DIA_CHI" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Đơn vị lập biên bản</label>
                        <input type="text" class="form-control" [(ngModel)] = "newReport.DON_VI_LAP_BIEN_BANG" name="SDT" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày yêu cầu nộp phạt</label>
                        <input type="text" class="form-control" [(ngModel)] = "newReport.NGAY_YC_NOP_PHAT" name="SDT" required>
                    </div>
                    <div class="form-group">
                        <label>Đơn vị yêu cầu nộp phat</label>
                        <input type="text" class="form-control" [(ngModel)] = "newReport.DON_VI_YC_NOP_PHAT" name="SDT" required>
                    </div>
                    <div class="form-group">
                        <label>Tổng tiền</label>
                        <input type="text" class="form-control" [(ngModel)] = "newReport.TONG_TIEN" name="SDT" required>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái </label>
                        <input type="text" class="form-control" [(ngModel)] = "newReport.TRANG_THAI" name="SDT" required>
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <input type="text" class="form-control" [(ngModel)] = "newReport.GHI_CHU" name="SDT" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày cập nhật</label>
                        <input type="text" class="form-control" [(ngModel)] = "newReport.NGAY_CAP_NHAT" name="SDT" required>
                    </div>
                    <div class="form-group">
                        <label>Hoạt động</label>
                        <input type="text" class="form-control" [(ngModel)] = "newReport.HOAT_DONG" name="SDT" required>
                    </div>
                    <div class="form-group">
                        <label>Ý kiến bổ sung</label>
                        <input type="text" class="form-control" [(ngModel)] = "newReport.Y_KIEN_BO_XUNG" name="SDT" required>
                    </div>
                </div>
                <div id ="success-dialog" class="alert alert-success" role="alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong> Success!</strong> You have been signed in successfully!
                </div>
                <div id ="error-dialog" class="alert alert-danger" role="alert" style ="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong> Fail!</strong> You fail!
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default exit" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success"  value="Add" (click)="addReport(newReport)">
                </div>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã biên bản</label>
                        <input type="text" class="form-control"  [(ngModel)] = "selectedReport.mA_BIEN_BANG" disabled>
                    </div>
                    <div class="form-group">
                        <label>Mã khách hàng</label>
                        <input type="text" class="form-control"  [(ngModel)] = "selectedReport.mA_KHACH_HANG" disabled>
                    </div>

                    <div class="form-group">
                        <label>Mã số công an</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.mA_SO_CONG_AN" name="SDT" disabled>
                    </div>
                    <div class="form-group">
                        <label>Ngày lập </label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.ngaY_LAP" name="CMND" disabled>
                    </div>
                    <div class="form-group">
                        <label>Nơi lập</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.noI_LAP" name="GIOI_TINH" required>
                    </div>
                    <div class="form-group">
                        <label>Đơn vị lập biên bảng</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.doN_VI_LAP_BIEN_BANG" name="QUOC_TICH" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày yêu cầu nộp phạt</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.ngaY_YC_NOP_PHAT" name="QUOC_TICH" required>
                    </div>
                    <div class="form-group">
                        <label>Đơn vị yêu cầu nộp phạt</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.doN_VI_YC_NOP_PHAT" name="QUOC_TICH" required>
                    </div>
                    <div class="form-group">
                        <label>Tổng tiền</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.tonG_TIEN" name="QUOC_TICH" required>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.tranG_THAI" name="QUOC_TICH" required>
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.ghI_CHU" name="QUOC_TICH" required>
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.ghI_CHU" name="QUOC_TICH" required>
                    </div>
                    <div class="form-group">
                        <label>Hoạt động</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.hoaT_DONG" name="QUOC_TICH" required>
                    </div>
                    <div class="form-group">
                        <label>Ý kiến bổ sung</label>
                        <input type="text" class="form-control" [(ngModel)] = "selectedReport.y_KIEN_BO_XUNG" name="QUOC_TICH" required>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="alert alert-success" role="alert" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <strong> Success!</strong> You have been signed in successfully!
                    </div>
                    <div class="alert alert-danger" role="alert" style ="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <strong> Fail!</strong> You fail!
                    </div>
                    <input type="button" class="btn btn-default exit" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save" (click)="updateUser(selectedReport)">
                </div>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Employee</h4>
                    <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div id ="success-dialog" class="alert alert-success" role="alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong> Success!</strong> You have been signed in successfully!
                </div>
                <div id ="error-dialog" class="alert alert-danger" role="alert" style ="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong> Fail!</strong> You fail!
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default exit" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete" (click) ="deleteReport(selectedReport.mA_BIEN_BANG)" >
                </div>
        </div>
    </div>
</div>
