<div class="wrapper d-flex align-items-stretch" style="height: 100%">
  <nav id="sidebar">
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a routerLink="/customers"
          ><span class="fa fa-home mr-3"></span> Home</a
        >
      </li>
      <li>
        <a href="/customers"
          ><span class="fa fa-support mr-3"></span>Khách hàng</a
        >
      </li>
      <li>
        <a href="/lisences"><span class="fa fa-support mr-3"></span>Bằng lái</a>
      </li>
      <li>
        <a href="/alo"
          ><span class="fa fa-support mr-3"></span>Danh sách biên bảng</a
        >
      </li>
      <li>
        <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-sign-out-alt mr-3"></span> Sign Out</a>
      </li>
    </ul>
  </nav>
</div>
